form {
	display: flex;
    justify-content: space-around;
    background: #e0e0e0;
    align-items: center;
}

h3{
	text-align: center;
}

.block_result{
	    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title{
	text-align: center;
}

.resultat{
	background-color: red ;
	padding-right: 2%;
    padding-left: 2%;
}

a {
	color: white !important;
}